<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div width="100%">
	<iframe name="navbar" width="100%" height="30" marginwidth="0" marginheight="0" SRC="/navbar.html"
	 frameborder="0" />
	</div>
	<div>
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
		</tr>
		<tr>
			<td><a href="123">123</a></td>
			<td>Jack</td>
		</tr>
	</table>
    </div>
</body>
</html>